@{
    ViewBag.Title = "Dota Stats";
}

<section class="featured center">
            <img class="center" src="~/Content/images/dota-logo.png" />
            <form action="Home/Search" method="post">
                <input name="search" class="center" type="text" placeholder="Search: Matches, Players, Clans" />
            </form>
</section>
