@{
    ViewBag.Title = "Dota Stats";
}

<section class="featured center">
            <img class="center" src="~/Content/images/dota-logo.png" />
            <input class="center" type="text" placeholder="Search: Matches, Players, Clans" />
</section>
