@using DotaSite.Helpers;
<ul class="sort-by">
    Select:
    <li>@Html.MenuLink("Most Played", "MostPlayed", "Hero", "")</li>
    <li>@Html.MenuLink("Win Rate", "WinRate", "Hero", "")</li>
    <li>@Html.MenuLink("Game Impact", "GameImpact", "Hero", "")</li>
    <li>@Html.MenuLink("Economy", "Economy", "Hero", "")</li>
</ul>